* {
  margin: 0;
  padding: 0;
}
.box {
  width: 500px;
  height: 500px;
  border: 1px solid #000;
}
.box .son1 {
  width: 100px;
  height: 100px;
  background-color: #ff0000;
  margin-bottom: 10px;
  -o-border-radius: 50px;
  -webkit-border-radius: 50px;
  -ms-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}
.box .son2 {
  width: 100px;
  height: 100px;
  background-color: #ff0000;
  margin-bottom: 10px;
  -o-border-radius: 50px;
  -webkit-border-radius: 50px;
  -ms-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -o-border-radius: 20px;
  -webkit-border-radius: 20px;
  -ms-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.box .son3 {
  width: 100px;
  height: 100px;
  background-color: #ff0000;
  margin-bottom: 10px;
  -o-border-radius: 50px;
  -webkit-border-radius: 50px;
  -ms-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -o-border-radius: 20px;
  -webkit-border-radius: 20px;
  -ms-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background-color: #0000ff;
  -o-border-radius: 35px;
  -webkit-border-radius: 35px;
  -ms-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
}
