li{
	list-style: none;
}
.container{
	height: 100%;
	width: 1226px;
	margin-left: auto;
	margin-right: auto;
}
.clearfix:after{
	visibility: hidden;
	display: block;
	content: '';
	clear: both;
}
.clearfix{
	*zoom:1;
}
a{
	color: #b0b0b0;
	font-size: 12px;
	text-decoration: none;
}
a:hover{
	color: #fff;
}
.col1{
	width: 234px;
	float: left;
}
.col2{
	width: 978px;
	float: right;
}
.sep{
	color:#393d42;
	margin-left: 4px;
	margin-right: 4px;
}
